{{#> base }}
    {{> AppSidebar/sidebar dashboards-eg-1=this }}
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="row">
                <div class="col-xs-1 col-md-4 col-xl-4">
                    <div class="card mb-3 widget-content bg-midnight-bloom">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Total Secrets</div>
                                <div class="widget-subheading">Secrets found this year</div>
                            </div>
                            <div id ="totalSecrets" class="widget-content-right">
                                <!--Javascript insert-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-md-4 col-xl-4">
                    <div class="card mb-3 widget-content bg-arielle-smile">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Active Secrets</div>
                                <div class="widget-subheading">Current active secrets</div>
                            </div>
                            <div id ="activeSecrets"class="widget-content-right">
                                <!--Javascript insert-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-md-4 col-xl-4">
                    <div class="card mb-3 widget-content bg-grow-early">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Total Sources</div>
                                <div class="widget-subheading">Sources scanned this year</div>
                            </div>
                            <div id = "actionedSecrets"class="widget-content-right">
                                <!--Javascript insert-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header">Secret details
                        </div>
                        <div class="table-responsive">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Secret</th>
                                    <th class="text-center">Source Origin</th>
                                    <th class="text-center">Detector</th>
                                    <th class="text-center">Secret Type</th>
                                    <th class="text-center">Confidence</th>
                                </tr>
                                </thead>
                                <tbody id = "secretDetailsBody">
                                    <!--Javascript insert-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                Secrets over time
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-eg-77">
                                    <div class="card mb-3 widget-chart widget-chart2 text-start w-100">
                                        <div class="widget-chat-wrapper-outer">
                                            <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                                       <div class="chart-container">
                                        <canvas id="chart-vert-bar" style="height: 227px;"></canvas>
                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/ base }}